Connected Services/UiPathRobotApi/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UiPathRemote" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="DefaultStandardEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="DefaultDuplexEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/UiPath.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUiPathRemoteContract_StartJob_InputMessage">
    <wsdl:part name="parameters" element="tns:StartJob" />
  </wsdl:message>
  <wsdl:message name="IUiPathRemoteContract_StartJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartJobResponse" />
  </wsdl:message>
  <wsdl:message name="IUiPathRemoteContract_QueryJob_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryJob" />
  </wsdl:message>
  <wsdl:message name="IUiPathRemoteContract_QueryJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryJobResponse" />
  </wsdl:message>
  <wsdl:message name="IUiPathRemoteContract_CancelJob_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelJob" />
  </wsdl:message>
  <wsdl:message name="IUiPathRemoteContract_IsAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAlive" />
  </wsdl:message>
  <wsdl:message name="IUiPathRemoteContract_IsAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAliveResponse" />
  </wsdl:message>
  <wsdl:message name="IUiPathRemoteContract_ListJobs_InputMessage">
    <wsdl:part name="parameters" element="tns:ListJobs" />
  </wsdl:message>
  <wsdl:message name="IUiPathRemoteContract_ListJobs_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListJobsResponse" />
  </wsdl:message>
  <wsdl:message name="IUiPathRemoteContract_RemoveJob_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveJob" />
  </wsdl:message>
  <wsdl:message name="IUiPathRemoteDuplexContract_ResumeJob_InputMessage">
    <wsdl:part name="parameters" element="tns:ResumeJob" />
  </wsdl:message>
  <wsdl:message name="IUiPathRemoteDuplexContract_CanConnectToServer_InputMessage">
    <wsdl:part name="parameters" element="tns:CanConnectToServer" />
  </wsdl:message>
  <wsdl:message name="IUiPathRemoteDuplexContract_CanConnectToServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanConnectToServerResponse" />
  </wsdl:message>
  <wsdl:message name="IUiPathRemoteDuplexContract_ConnectToServer_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectToServer" />
  </wsdl:message>
  <wsdl:message name="IUiPathRemoteDuplexContract_ConnectToServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectToServerResponse" />
  </wsdl:message>
  <wsdl:message name="IUiPathRemoteDuplexContract_DisconnectFromServer_InputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectFromServer" />
  </wsdl:message>
  <wsdl:message name="IUiPathRemoteDuplexContract_DisconnectFromServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectFromServerResponse" />
  </wsdl:message>
  <wsdl:message name="IUiPathRemoteDuplexContract_GetServiceState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceState" />
  </wsdl:message>
  <wsdl:message name="IUiPathRemoteDuplexContract_GetServiceState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceStateResponse" />
  </wsdl:message>
  <wsdl:message name="IUiPathRemoteDuplexContract_GetAssociatedProcesses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAssociatedProcesses" />
  </wsdl:message>
  <wsdl:message name="IUiPathRemoteDuplexContract_GetAssociatedProcesses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAssociatedProcessesResponse" />
  </wsdl:message>
  <wsdl:message name="IUiPathRemoteDuplexContract_InstallPackage_InputMessage">
    <wsdl:part name="parameters" element="tns:InstallPackage" />
  </wsdl:message>
  <wsdl:message name="IUiPathRemoteDuplexContract_GetSettingValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSettingValue" />
  </wsdl:message>
  <wsdl:message name="IUiPathRemoteDuplexContract_GetSettingValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSettingValueResponse" />
  </wsdl:message>
  <wsdl:message name="IUiPathRemoteDuplexContract_SetSettingValue_InputMessage">
    <wsdl:part name="parameters" element="tns:SetSettingValue" />
  </wsdl:message>
  <wsdl:message name="IUiPathRemoteDuplexContract_SetSettingValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetSettingValueResponse" />
  </wsdl:message>
  <wsdl:message name="IUiPathRemoteDuplexContract_OnJobCompleted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnJobCompleted" />
  </wsdl:message>
  <wsdl:message name="IUiPathRemoteDuplexContract_OnJobCompleted_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnJobCompletedResponse" />
  </wsdl:message>
  <wsdl:message name="IUiPathRemoteDuplexContract_OnTrackReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnTrackReceived" />
  </wsdl:message>
  <wsdl:message name="IUiPathRemoteDuplexContract_OnTrackReceived_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnTrackReceivedResponse" />
  </wsdl:message>
  <wsdl:message name="IUiPathRemoteDuplexContract_OnLog_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnLog" />
  </wsdl:message>
  <wsdl:message name="IUiPathRemoteDuplexContract_OnPackagesUpdated_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPackagesUpdated" />
  </wsdl:message>
  <wsdl:message name="IUiPathRemoteDuplexContract_OnPackagesUpdated_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPackagesUpdatedResponse" />
  </wsdl:message>
  <wsdl:portType name="IUiPathRemoteContract">
    <wsdl:operation name="StartJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IUiPathRemoteContract/StartJob" message="tns:IUiPathRemoteContract_StartJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUiPathRemoteContract/StartJobResponse" message="tns:IUiPathRemoteContract_StartJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IUiPathRemoteContract/QueryJob" message="tns:IUiPathRemoteContract_QueryJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUiPathRemoteContract/QueryJobResponse" message="tns:IUiPathRemoteContract_QueryJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IUiPathRemoteContract/CancelJob" message="tns:IUiPathRemoteContract_CancelJob_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <wsdl:input wsaw:Action="http://tempuri.org/IUiPathRemoteContract/IsAlive" message="tns:IUiPathRemoteContract_IsAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUiPathRemoteContract/IsAliveResponse" message="tns:IUiPathRemoteContract_IsAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListJobs">
      <wsdl:input wsaw:Action="http://tempuri.org/IUiPathRemoteContract/ListJobs" message="tns:IUiPathRemoteContract_ListJobs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUiPathRemoteContract/ListJobsResponse" message="tns:IUiPathRemoteContract_ListJobs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IUiPathRemoteContract/RemoveJob" message="tns:IUiPathRemoteContract_RemoveJob_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType msc:usingSession="true" name="IUiPathRemoteDuplexContract">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StartJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IUiPathRemoteContract/StartJob" message="tns:IUiPathRemoteContract_StartJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUiPathRemoteContract/StartJobResponse" message="tns:IUiPathRemoteContract_StartJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="QueryJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IUiPathRemoteContract/QueryJob" message="tns:IUiPathRemoteContract_QueryJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUiPathRemoteContract/QueryJobResponse" message="tns:IUiPathRemoteContract_QueryJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CancelJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IUiPathRemoteContract/CancelJob" message="tns:IUiPathRemoteContract_CancelJob_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="IsAlive">
      <wsdl:input wsaw:Action="http://tempuri.org/IUiPathRemoteContract/IsAlive" message="tns:IUiPathRemoteContract_IsAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUiPathRemoteContract/IsAliveResponse" message="tns:IUiPathRemoteContract_IsAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ListJobs">
      <wsdl:input wsaw:Action="http://tempuri.org/IUiPathRemoteContract/ListJobs" message="tns:IUiPathRemoteContract_ListJobs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUiPathRemoteContract/ListJobsResponse" message="tns:IUiPathRemoteContract_ListJobs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RemoveJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IUiPathRemoteContract/RemoveJob" message="tns:IUiPathRemoteContract_RemoveJob_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ResumeJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IUiPathRemoteDuplexContract/ResumeJob" message="tns:IUiPathRemoteDuplexContract_ResumeJob_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CanConnectToServer">
      <wsdl:input wsaw:Action="http://tempuri.org/IUiPathRemoteDuplexContract/CanConnectToServer" message="tns:IUiPathRemoteDuplexContract_CanConnectToServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUiPathRemoteDuplexContract/CanConnectToServerResponse" message="tns:IUiPathRemoteDuplexContract_CanConnectToServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ConnectToServer">
      <wsdl:input wsaw:Action="http://tempuri.org/IUiPathRemoteDuplexContract/ConnectToServer" message="tns:IUiPathRemoteDuplexContract_ConnectToServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUiPathRemoteDuplexContract/ConnectToServerResponse" message="tns:IUiPathRemoteDuplexContract_ConnectToServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DisconnectFromServer">
      <wsdl:input wsaw:Action="http://tempuri.org/IUiPathRemoteDuplexContract/DisconnectFromServer" message="tns:IUiPathRemoteDuplexContract_DisconnectFromServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUiPathRemoteDuplexContract/DisconnectFromServerResponse" message="tns:IUiPathRemoteDuplexContract_DisconnectFromServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetServiceState">
      <wsdl:input wsaw:Action="http://tempuri.org/IUiPathRemoteDuplexContract/GetServiceState" message="tns:IUiPathRemoteDuplexContract_GetServiceState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUiPathRemoteDuplexContract/GetServiceStateResponse" message="tns:IUiPathRemoteDuplexContract_GetServiceState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetAssociatedProcesses">
      <wsdl:input wsaw:Action="http://tempuri.org/IUiPathRemoteDuplexContract/GetAssociatedProcesses" message="tns:IUiPathRemoteDuplexContract_GetAssociatedProcesses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUiPathRemoteDuplexContract/GetAssociatedProcessesResponse" message="tns:IUiPathRemoteDuplexContract_GetAssociatedProcesses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="InstallPackage">
      <wsdl:input wsaw:Action="http://tempuri.org/IUiPathRemoteDuplexContract/InstallPackage" message="tns:IUiPathRemoteDuplexContract_InstallPackage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetSettingValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IUiPathRemoteDuplexContract/GetSettingValue" message="tns:IUiPathRemoteDuplexContract_GetSettingValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUiPathRemoteDuplexContract/GetSettingValueResponse" message="tns:IUiPathRemoteDuplexContract_GetSettingValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SetSettingValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IUiPathRemoteDuplexContract/SetSettingValue" message="tns:IUiPathRemoteDuplexContract_SetSettingValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUiPathRemoteDuplexContract/SetSettingValueResponse" message="tns:IUiPathRemoteDuplexContract_SetSettingValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnJobCompleted">
      <wsdl:output wsaw:Action="http://tempuri.org/IUiPathRemoteDuplexContract/OnJobCompleted" message="tns:IUiPathRemoteDuplexContract_OnJobCompleted_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IUiPathRemoteDuplexContract/OnJobCompletedResponse" message="tns:IUiPathRemoteDuplexContract_OnJobCompleted_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnTrackReceived">
      <wsdl:output wsaw:Action="http://tempuri.org/IUiPathRemoteDuplexContract/OnTrackReceived" message="tns:IUiPathRemoteDuplexContract_OnTrackReceived_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IUiPathRemoteDuplexContract/OnTrackReceivedResponse" message="tns:IUiPathRemoteDuplexContract_OnTrackReceived_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnLog">
      <wsdl:output wsaw:Action="http://tempuri.org/IUiPathRemoteDuplexContract/OnLog" message="tns:IUiPathRemoteDuplexContract_OnLog_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnPackagesUpdated">
      <wsdl:output wsaw:Action="http://tempuri.org/IUiPathRemoteDuplexContract/OnPackagesUpdated" message="tns:IUiPathRemoteDuplexContract_OnPackagesUpdated_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IUiPathRemoteDuplexContract/OnPackagesUpdatedResponse" message="tns:IUiPathRemoteDuplexContract_OnPackagesUpdated_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DefaultStandardEndpoint" type="tns:IUiPathRemoteContract">
    <wsp:PolicyReference URI="#DefaultStandardEndpoint_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="StartJob">
      <soap12:operation soapAction="http://tempuri.org/IUiPathRemoteContract/StartJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryJob">
      <soap12:operation soapAction="http://tempuri.org/IUiPathRemoteContract/QueryJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelJob">
      <soap12:operation soapAction="http://tempuri.org/IUiPathRemoteContract/CancelJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <soap12:operation soapAction="http://tempuri.org/IUiPathRemoteContract/IsAlive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListJobs">
      <soap12:operation soapAction="http://tempuri.org/IUiPathRemoteContract/ListJobs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveJob">
      <soap12:operation soapAction="http://tempuri.org/IUiPathRemoteContract/RemoveJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DefaultDuplexEndpoint" type="tns:IUiPathRemoteDuplexContract">
    <wsp:PolicyReference URI="#DefaultDuplexEndpoint_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="StartJob">
      <soap12:operation soapAction="http://tempuri.org/IUiPathRemoteContract/StartJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryJob">
      <soap12:operation soapAction="http://tempuri.org/IUiPathRemoteContract/QueryJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelJob">
      <soap12:operation soapAction="http://tempuri.org/IUiPathRemoteContract/CancelJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <soap12:operation soapAction="http://tempuri.org/IUiPathRemoteContract/IsAlive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListJobs">
      <soap12:operation soapAction="http://tempuri.org/IUiPathRemoteContract/ListJobs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveJob">
      <soap12:operation soapAction="http://tempuri.org/IUiPathRemoteContract/RemoveJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ResumeJob">
      <soap12:operation soapAction="http://tempuri.org/IUiPathRemoteDuplexContract/ResumeJob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CanConnectToServer">
      <soap12:operation soapAction="http://tempuri.org/IUiPathRemoteDuplexContract/CanConnectToServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectToServer">
      <soap12:operation soapAction="http://tempuri.org/IUiPathRemoteDuplexContract/ConnectToServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisconnectFromServer">
      <soap12:operation soapAction="http://tempuri.org/IUiPathRemoteDuplexContract/DisconnectFromServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceState">
      <soap12:operation soapAction="http://tempuri.org/IUiPathRemoteDuplexContract/GetServiceState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssociatedProcesses">
      <soap12:operation soapAction="http://tempuri.org/IUiPathRemoteDuplexContract/GetAssociatedProcesses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InstallPackage">
      <soap12:operation soapAction="http://tempuri.org/IUiPathRemoteDuplexContract/InstallPackage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetSettingValue">
      <soap12:operation soapAction="http://tempuri.org/IUiPathRemoteDuplexContract/GetSettingValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSettingValue">
      <soap12:operation soapAction="http://tempuri.org/IUiPathRemoteDuplexContract/SetSettingValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnJobCompleted">
      <soap12:operation soapAction="http://tempuri.org/IUiPathRemoteDuplexContract/OnJobCompleted" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnTrackReceived">
      <soap12:operation soapAction="http://tempuri.org/IUiPathRemoteDuplexContract/OnTrackReceived" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnLog">
      <soap12:operation soapAction="http://tempuri.org/IUiPathRemoteDuplexContract/OnLog" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPackagesUpdated">
      <soap12:operation soapAction="http://tempuri.org/IUiPathRemoteDuplexContract/OnPackagesUpdated" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UiPathRemote">
    <wsdl:port name="DefaultStandardEndpoint" binding="tns:DefaultStandardEndpoint">
      <soap12:address location="net.pipe://localhost/UiPath/service/agent" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/UiPath/service/agent</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="DefaultDuplexEndpoint" binding="tns:DefaultDuplexEndpoint">
      <soap12:address location="net.pipe://localhost/UiPath/service/duplex/agent" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/UiPath/service/duplex/agent</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>